<link rel="stylesheet" href="/css/create-post.css" />
<form action="/create-post" method="POST">
  <div class="post-box-container">
    <textarea
      name="content"
      id="postInput"
      class="post-box"
      oninput="autoResize(this)"
    ></textarea>
    <button>Create post</button>
  </div>
</form>
