body {
  background-color: rgb(226, 218, 218);
}
.post-box-container {
  margin: 5rem 10rem 0rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.post-box {
  width: 100%;
  height: 25rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  resize: none;
  font-size: 2rem;
  font-family: italic;
  overflow: hidden;
}
.post-box-container button {
  width: auto;
  margin-top: 2rem;
  border-radius: 0.8rem;
  font-size: 2rem;
}

.post-box-container button:hover {
  cursor: pointer;
  background-color: rgb(221, 216, 216);
}
