body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e4d7d7;
    color: #333;
    margin: 0;
    padding: 0;
}

.profile-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;             
    background-color: #fff;    
    border-radius: 12px;       
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;        
}


.profile-container img {
    width: 150px;              
    height: 150px;             
    border-radius: 50%;        
    object-fit: contain;       
    object-position: center;   
    border: 3px solid #ff6b81;
    margin-bottom: 20px;       
    background-color: #fff;    
}


.profile-container h1 {
    font-size: 28px;
    margin-bottom: 25px;
    color: #ff6b81;
}


.profile-container form {
    display: flex;              
    flex-direction: column;     
    gap: 15px;                  
}


.profile-container input[type="file"] {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
}


.profile-container button {
    padding: 10px;
    background-color: #ff6b81;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.profile-container button:hover {
    background-color: #ff4757;
}
h2 {
    margin-top: 0.5rem;
}

@media (max-width: 500px) {
    .profile-container {
        max-width: 90%;          
        padding: 15px;
    }
    .profile-container img {
        width: 120px;            
        height: 120px;
    }
    .profile-container h1 {
        font-size: 24px;
    }
}
